* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.main-container {
  margin: 100px 200px;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-players {
  width: 300px;
  height: auto;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 60px;
  background-color: #22b8e2;
  border-radius: 10px;
}

.score-container {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 10px 20px;
  border-radius: 8px;
}

.score-heading {
  font-size: 35px;
  color: #444;
}

.scoreSelection {
  margin-bottom: 40px;
}

.select {
  border: 1px solid #555;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.play-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 15px 0px;
}

.game-button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 10px;
  color: #222;
  font-size: 16px;
  cursor: pointer;
}

.game-button:last-child {
  margin-right: 0px;
}

.winning-player {
  color: #e015e0;
}

.losing-player {
  color: #0ab80a;
}

@media (max-width: 400px) {
  .main-heading {
    font-size: 17px;
  }

  .game-container {
    margin: 0px 30px;
  }

  .score-heading {
    font-size: 22px;
  }

  .game-button {
    padding: 5px 7px;
  }
}

@media (max-width: 900px) {
  .main-heading {
    font-size: 26px;
    text-align: center;
  }

  .score-heading {
    font-size: 30px;
  }

  .play-game {
    flex-direction: column;
    margin: 10px 0px 5px 0px;
  }

  .game-button {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .game-button:last-child {
    margin-bottom: 0px;
  }
}
